@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
html{
    overflow-x: hidden;
}
.mynav{
    width: 100%;
    height: 103px;
    background-color: #ffffff !important;
    position: fixed;
    z-index: 5;
}
.myul{
    margin-right: 3%;
    margin-top: 1%;
}

.mybrand{
    margin-left: 1%;
}
.mybtn{
    color: white !important;
    width: 218.95px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Josefin Sans", sans-serif !important;
    border-radius: 5px;
    margin-top: -1%;
}
.my-a{
    padding-right: 30px !important;
    font-family: "Josefin Sans", sans-serif !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #00095E !important;
}
.myphone{
    margin-top: -3%;
    margin-right: 5%;
}
.hoverx1:hover{
    color: #007bff !important;
}
.hoverx1::after{
    content: '';
    display: block;
    height: 2px;
    background-color: #007bff;
    width: 0%;
    border-radius: 5px;
    transition: all ease-in-out 350ms;
}
.hoverx1:hover::after{
    width: 100%;
}
.empty{
    width: 100%;
    height: 100px;
}
.myh{
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.myh h1{
    font-size: 60px;
    font-family: "Josefin Sans", sans-serif;
    color: #00095E;
    font-weight: 700;
}
.myh h5{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: #00095E;
    font-weight: 400;
    margin-bottom: 40px;
}
.explore{
    background-color: #00095E;
    color: #ffffff;
    width: 270px;
    height: 70px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
}
.explore::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #FFC800;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 200ms ease-in;
    border-radius: 5px;
}
.explore:hover::after{
    transform: scaleY(1);
}
.underlined{
    text-decoration: underline;
    text-decoration-color: orange;
}
.wall{
    position: relative;
    width: 100%;
}
.animation{
    height: 800px;
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.bus{
    width: 970px;
    height: 478px;
    animation: busmove 10s infinite ;
    position: absolute;
    bottom: 150px;
}
@keyframes busmove {
    0%{
        transform: translateX(-15%);
    }
    50%{
        transform: translateX(15%);
    }
    100%{
        transform: translateX(-15%);
    }
}
.check{
    color: #7ea0ff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: capitalize;
    display: inline-block;
    letter-spacing: .05em;
}
.events{
    font-size: 50px;
    display: block;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 22px;
    font-family: "Josefin Sans",sans-serif;
    color: #00095e;
    margin-top: 0;
    font-style: normal;
    text-transform: normal;
}
@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}
.cap{
    width: 298px;
    height: 50px;
    font-family: "Roboto" sans-serif;
    margin-top: 20px;
}
.service-a{
    color: #00095e;
    font-family: "Josefin Sans",sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    display: block;
    text-transform: capitalize;
    text-decoration: none !important;
}
.service-span{
    font-size: 22px;
    font-weight: 700;
    color: #7ea0ff;
    line-height: 1;
}
.service-p{
    color: #00095e;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: 1.4;
    cursor: pointer;
}
.service-pa{
    color: #7ea0ff;
    background: rgba(126,160,255,.05);
    font-size: 14px;
    display: inline-block;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    padding: 9px 15px;
    border-radius: 19px;
    margin-right: 13px;
    text-decoration: none !important;
}
.aboutmiddle{
    padding-bottom: 120px;
}
.middle{
    padding-bottom: 100px;
}
.about{
    color: #7ea0ff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: capitalize;
    display: inline-block;
    letter-spacing: .05em;
}
.getready{
    font-size: 50px;
    display: block;
    font-weight: 700;
    margin-bottom: 22px;
    font-family: "Josefin Sans",sans-serif;
    color: #00095e;
    margin-top: 0;
    font-style: normal;
    text-transform: normal;
    line-height: 1.4;
}
.journey{
    font-size: 17px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 50px;
    font-family: "Roboto",sans-serif;
    color: #677f8b;
    margin-bottom: 15px;
}
.bookbtn{
    background: #ffc800;
    font-family: "Roboto",sans-serif;
    color: #fff !important;
    cursor: pointer;
    font-size: 16px!important;
    font-weight: 500!important;
    border-radius: 5px;
    width: 240px;
    height: 60px;
    display: flex !important; 
    align-items: center !important;
    justify-content: center !important;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.bookbtn::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #00095E;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 200ms ease-in;
    border-radius: 5px;
}
.bookbtn:hover::after{
    transform: scaleY(1);
}
.customers{
    background-image: url("img/section_bg1.jpg");
    width: 100%;
    height: 557px;
}
.text{
    width: 80%;
    height: auto;
}
.text h2{
    width: 90%;
    height: 60px;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    font-family: "Josefin Sans",sans-serif;
    margin-top: 0;
    font-style: normal;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.text-p{
    height: 117px;
    line-height: 1.5;
    margin-bottom: 32px;
    color: #fff;
    font-weight: 400;
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    text-align: center !important;
}
.founder{
    width: 90%;
    height: 66px;
}
.founder-text{
    padding-left: 30px;
}
.founder-image{
    width: 65px;
    height: 65px;
}
.founder-image img{
    width: 65px;
    height: 65px;
}
.anthony{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}
.ceo{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}
.faq{
    width: 100%;
    height: 680px;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.topfaq{
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fa1{
    color: #7ea0ff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-family: "Roboto",sans-serif;
}
.faq2{
    font-size: 50px;
    display: block;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 22px;
    font-family: "Josefin Sans",sans-serif;
    color: #00095e;
    margin-top: 0;
}
.faqcollapse{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    background-color: #fff !important;
}
.mycard, .mycardheader{
    border: none !important;
    background-color: #fff !important;
}
.mycollapse{
    width: 550px;
    background-color: #fff !important;
}
.faqwall{
    margin-left: 15%;
}
.btncollapse{
    color: #010a44 !important;
    display: block !important;
    text-decoration: none !important;
    border-bottom: 1px solid #efefef !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    box-shadow: none !important;
    box-sizing: border-box !important;
    cursor: pointer !important;
    font-family: "Josefin Sans" !important;
    background-color: #fff !important;
}
.bigtext{
    background: #fff;
    padding: 20px 38px;
    font-family: "Roboto",sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #212529;
    text-align: left;
    background-color: #fff !important;
}
.btnbookdiv{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btnbook{
    width: 240px;
    height: 60px;
    background: #ffc800;
    font-family: "Roboto", sans-serif;
    color: #fff!important;
    display: inline-block;
    font-size: 16px!important;
    font-weight: 500!important;
}
.video{
    width: 100%;
    height: 680px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagevideo{
    width: 1170px;
    height: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.videowall{
    position: absolute;
}
.videocaption{
    position: relative;
    width: 1170px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.playbtn{
    width: 96.31px;
    height: 96.31px;
}
.videoh3{
    color: #fff;
    font-weight: 500;
    font-size: 30px;
    font-family: "Josefin Sans",sans-serif;
    line-height: 1.2;
    margin-top: 8px;
}
.downimages{
    width: 100%;
    margin-top: 50px;
    display: flex;
}
.downimages img{
    width: 20%;
}
.myfooter{
    width: 100%;
    height: 415px;
    background-color: #00095e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footeritems{
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.firstcollumn{
    width: 25%;
    height: 100%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    margin-left: 10%;
}
.firstcollumn p{
    color: #8a8fbe;
    font-size: 16px;
    font-family: "Roboto",sans-serif;
}
.footerlogo{
    width: 165px;
    height: 57px;
}
.logobox{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.secondcollumn{
    width: 20%;
    height: 100%;
    margin-left: 10%;
}
.foot-h4{
    font-family: "Roboto",sans-serif;
    color: #fff;
    font-size: 18px;
    margin-top: 10%;
    margin-bottom: 28px;
    font-weight: 700;
}
.foot-item{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0%;
}
.foot-li{
    margin-bottom: 15px;
    list-style: none;
}
.foot-link{
    color: #8a8fbe !important;
    text-decoration: none;
    font-size: 16px;
    font-family: "Roboto",sans-serif;
    font-weight: normal;
    font-style: normal;
}
.thirdcollumn{
    width: 20%;
    height: 100%;
}
.forthcollumn{
    width: 20%;
    height: 100%;
    margin-right: 10%;
}
.foot-p{
    color: #8a8fbe !important;
    text-decoration: none;
    font-size: 16px;
    font-family: "Roboto",sans-serif;
    font-weight: normal;
    font-style: normal;
}
.footnumb{
    font-family: "Roboto",sans-serif;
    font-size: 22px!important;
    color: #ffc800;
    margin-bottom: 0;
    font-weight: 400!important;
    text-decoration: none !important;
}
.heart{
    width: 14px;
    height: 14px;
}
.footheart p{
    color: #8a8fbe;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    font-family: "Roboto",sans-serif;
}
.footheart a{
    color: #ffc800;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    font-family: "Roboto",sans-serif;
}
.footheart{
    display: flex;
    justify-content: center;
    background-color: #00095e;
}