@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
html{
    overflow-x: hidden;
}
.mynav{
    width: 100%;
    height: 103px;
    background-color: #ffffff !important;
    position: fixed;
    z-index: 5;
}
.myul{
    margin-right: 3%;
    margin-top: 1%;
}

.mybrand{
    margin-left: 1%;
}
.mybtn{
    color: white !important;
    width: 218.95px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Josefin Sans", sans-serif !important;
    border-radius: 5px;
    margin-top: -1%;
}
.my-a{
    padding-right: 30px !important;
    font-family: "Josefin Sans", sans-serif !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #00095E !important;
}
.myphone{
    margin-top: -3%;
    margin-right: 5%;
}
.hoverx1:hover{
    color: #007bff !important;
}
.hoverx1::after{
    content: '';
    display: block;
    height: 2px;
    background-color: #007bff;
    width: 0%;
    border-radius: 5px;
    transition: all ease-in-out 350ms;
}
.hoverx1:hover::after{
    width: 100%;
}
.empty{
    width: 100%;
    height: 100px;
}
.myh{
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.myh h1{
    font-size: 60px;
    font-family: "Josefin Sans", sans-serif;
    color: #00095E;
    font-weight: 700;
}
.myh h5{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: #00095E;
    font-weight: 400;
    margin-bottom: 40px;
}
.explore{
    background: #00095E;
    color: #ffffff;
    width: 260px;
    height: 70px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.underlined{
    text-decoration: underline;
    text-decoration-color: orange;
}
.wall{
    position: relative;
    width: 100%;
}
.animation{
    height: 800px;
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.bus{
    width: 970px;
    height: 478px;
    animation: busmove 10s infinite ;
    position: absolute;
    bottom: 150px;
}
@keyframes busmove {
    0%{
        transform: translateX(-15%);
    }
    50%{
        transform: translateX(15%);
    }
    100%{
        transform: translateX(-15%);
    }
}
.check{
    color: #7ea0ff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: capitalize;
    display: inline-block;
    letter-spacing: .05em;
}
.events{
    font-size: 50px;
    display: block;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 22px;
    font-family: "Josefin Sans",sans-serif;
    color: #00095e;
    margin-top: 0;
    font-style: normal;
    text-transform: normal;
}